div {
    width: 0;
    height: 0;
    border: 50px solid black;
    border-left-color: red;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}